==
<form data-request="{{ __SELF__ }}::onFormSubmit">

    {{ form_token() }}
    
    <div id="{{ __SELF__ }}_forms_flash"></div>
    
    <div class="form-group">
        <input class="form-control input-lg" name="nombre" id="nombre" type="text" placeholder="Nombre (*)" required>
    </div>
    <div class="form-group">
        <input class="form-control input-lg" name="telefono" id="telefono" type="phone" placeholder="Teléfono (*)" required>
    </div>
    <div class="form-group">
        <input class="form-control input-lg" name="email" id="email" type="email" placeholder="Email">
    </div>
    <div class="form-group">
        <select  class="form-control input-lg" name="number" id="number">
            <option selected value="0">Cualquier número</option>
            {% for number in green %}
                <option class="green" value="{{ number.number }}">{{ number.number }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="form-group last">
        <input type="submit" class="btn btn-warning btn-block btn-lg" value="ESTOY INTERESAD@">
    </div>
    <p class="privacy text-center">Ingresá tus datos y te contactaré a la brevedad.</p>
</form>