==
<!-- /.footer -->
<footer id="footer">
    <div class="container">
        <div class="col-sm-4 col-sm-offset-4">
            <!-- /.social links -->

            <div class="text-center wow fadeInUp" style="font-size: 14px;">Página no oficial de Arquitectura Rifa<br/>Lucia s.</div>
            <a href="#" class="scrollToTop"><i class="pe-7s-up-arrow pe-va"></i></a>
        </div>
    </div>
</footer>

<!-- /.javascript files -->
<script src="{{ [
    '@jquery',
    'assets/js/bootstrap.min.js',
    'assets/js/custom.js',
    'assets/js/jquery.sticky.js',
    'assets/js/wow.min.js',
    'assets/js/owl.carousel.min.js'
    ]|theme }}"></script>
{% framework extras %}
{% scripts %}

<script>
    new WOW().init();
</script>
</body>
</html>